<% if current_tenant && current_owned_user %>
  <span class='user_email'><%= current_owned_user.email %></span>
  <span class='user_role'><%= current_owned_user.role(current_tenant).try(:name) %></span>
<% else %>
  <%= link_to 'Sign Up', new_owned_user_registration_path, id: 'register' %>
<% end %>

